*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}
body{
	background: linear-gradient(to right, #8e2de2, #4a00e0);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}

main{
	width: 100%;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
}

.seccion-bienvenida{
	padding: 1rem;
}
.titulo-bienvenida{
	font-size: 5rem;
	font-family: var(--primaryFont);	
}

.img-login{
	max-width: 52rem;
	margin: 1rem auto;
	transform: rotate(-5deg);
	filter: drop-shadow(5px 5px 10px #000);
}
.contenedor__todo{
	width: 100%;
	max-width: 60rem;
	margin: 12rem auto 2rem auto;
	position: relative;
}
.caja__trasera{
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 128, 255, 0.5);
	-webkit-box-shadow: 3px 4px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 22px 0px rgba(0,0,0,0.75);
}
.caja__trasera div{
	margin: 10rem 4rem;
	color: #FFF;
	transition: all 500ms;
}
.caja__trasera div p,
.caja__trasera div button{ 
	margin-top: 1rem;
}
.caja__trasera div h3{
	font-weight: 400;
	font-size: 1.6rem;
}
.caja__trasera button{
	padding: 1rem 4rem;
	border: 2px solid #FFF;
	background: transparent;
	border-radius: 3rem;
	font-size: 1.6rem;
	font-family: var(--buttonFont);
	font-weight: 600;
	cursor: pointer;
	color: rgb(8, 8, 8);
	outline: none;
	transform: all 300ms;
}
.caja__trasera button:hover{
	background-color: #FFF;
	color: #46A2FD;
	transition: 0.5s ease-in;
}

/* Formularios */
.contenedor__login-register{
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 27rem;
	position: relative;
	top: -18.5rem;
	left: 1rem;
	transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275	);
}
.contenedor__login-register form{
	width: 100%;
	padding: 1rem 1rem;
	background: #e2d6af;
	position: absolute;
	border-radius: 2rem;
}
.contenedor__login-register .formulario__login{
	margin-top: 4rem;
	padding: 8rem 1rem;
}
.contenedor__login-register form h2{
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
	color: #46A2FD;
}
.contenedor__login-register form input,
.contenedor__login-register form select{
	width: 100%;
	margin-top: 1rem;
	padding: 0.5rem;
	border: none;
	background-color: #c7c7c7;
	font-size: 1.2rem;
	outline: none;
}
.contenedor__login-register form button{
	padding: 1rem 4rem;
	margin-top: 4rem;
	width: 100%;
	border: none;
	border-radius: 3rem;
	font-family: var(--buttonFont);
	font-size: 1.6rem;
	font-weight: bold;
	background-color: #46A2Fd;
	color: rgb(0, 0, 0);
	cursor: pointer;
	outline: none;	
}
.contenedor__login-register form button:hover{
	background-color: #29537e;
	color: #FFF;
	transition: 0.5s ease-in;
}
.formulario__login{
	opacity: 1;
	display: block;
	
}
.formulario__register{
	display: none;		
}
.registro{
	display: block;
}
.registro h4{
	margin: 1rem 0 0 0;
}

/* Responsive
@media (max-with: 850px){
	main{
		margin-top: 5rem;
	}
	.caja__trasera{
		max-width: 35rem;
		height: 30rem;
		flex-direction: column;
		margin: auto;
	}
	.caja__trasera div{
		margin: 0;
		position: absolute;
	}

	/* Formulario *//*
	.contenedor__login-register{
		top: -1rem;
		left: -.5rem;
		margin: auto;
	}
	.contenedor__login-register form{
		position: relative;
	}

} */
.footer{
	width: 100%;
	background-color: #000;
	color: #FFF;
	position: absolute;
	bottom: 0;
}
.footer .text-footer{
	font-size: 1.5rem;
}