.imagen {
  background-image: url("/src/public/img/avatar_10.png");
  background-repeat: no-repeat;
  background-size: contain ;
  height: 20px;
  width: 20px;

}



.container{

    padding: 1em;
}

.item{
    margin: 1em;
 padding: 1em;
 float: left; 
 height: 20px;
 width: 20px;  
 top: 30%;
}